page-add-events {


  ion-scroll{
    white-space: nowrap;
    height: 90px;
    width:70vw;
    overflow: hidden;
    //margin-left: -40px;

  }

  .categories{
    max-width:45px;
    margin: 1px;
  }



}
