page-events {
  .oval {
    background-color: rgba(255, 255, 255, 0.0);
    top: 0px;
    max-height: 126px;
    max-width: 126px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  .a101 {
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    width: auto;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "PingFangSC-Semibold", Helvetica, Arial, serif;
    font-size: 40.0px;
    color: white;
    text-align: center;
    line-height: 70.0px;
  }

  .cardcontent{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 60px;
    max-height: 60px;
  }

  .cardmaincircle{
    border-radius: 40px;
    background-color: #234B60;
    height:80px;
    width:80px;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-size: xx-large;
    font-weight: bold;
    padding: 18%;
    left: -7px;
    top: -10px;
  }

  .cardmaincircle div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .cardmainsquare{
    border-radius: 10px;
    background-color: #234B60;
    height:45px;
    width:60px;
    text-align: center;
    color: white;
    //vertical-align: middle;
    font-size: xx-large;
    font-weight: bold;
    float: right;
    right: -10px;
  }

  .smalltext1{
    color: #878383;
    text-align: left;
    font-size: small;
    left: 30px;
    position: absolute;

  }
  .smalltext2{
    color: #878383;
    text-align: right;
    font-size: 13px;
    font-family: "PingFangSC-Semibold", Helvetica, Arial, serif;

  }

  .mediumtext{
    font-size: medium;
    font-family: "Athelas-BoldItalic", Helvetica, Arial, serif;
    color: rgba(69, 98, 113, 1.0);
  }


}
